@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Changa+One&family=Lato:wght@300&display=swap');

body {
    font-family: 'Abril Fatface', cursive 'Changa One', 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color:whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Logo */

#heading {
    background-image: url(../images/tropical-fruits2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
    margin-top: 0px;
    background-size: cover;
}

#heading a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 {
    font-size: 700%;
    text-align: right;
    letter-spacing: 12px;
    color: rgb(255, 152, 120);
    text-decoration: none;
    padding-top: 300px;
    padding-right: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

/* Navigation menu */

#menu a {
    text-decoration: none;
    color: rgb(255, 152, 120);
}

nav {
    font-size: 200%;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-top: 25px;
}

.active {
    border-bottom: 2px solid rgb(255, 152, 120);
}

#menu a:hover {
    border-bottom: 2px solid rgb(255, 152, 120);
}

/* Audio file */

.audio-file {
    float: right;
}

/* Footer */

footer {
    background-color: rgb(255, 152, 120);
    margin-top: 10%;
    height: 150px;
    margin-top: auto;
}

#socials {
    text-align: center;
    color: whitesmoke;
    font-size: 180%;
    letter-spacing: 12px;
    text-transform: uppercase;
}

footer > a {
    font-size: 110%;
    color: whitesmoke;
    letter-spacing: 12px;
}

.links {
    font-size: 15px;
    margin-top: 5px;
}

#socials a {
    text-decoration: none;
    color: whitesmoke;
}

#socials a:hover {
    border-bottom: 2px solid whitesmoke;
}

/* List of tropical fruits */

#list {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(255, 152, 120);
    border-bottom: 2px solid rgb(255, 152, 120);
}

#list > div {
    border-top: 2px solid rgb(255, 152, 120);
}

p {
    color: rgb(110, 109, 109);
    font-size: 15px;
    letter-spacing: 1px;
    max-width: 50%;
    padding-left: 25%;
    margin-top: 25px;
}

h3 {
    margin-top: 10px;
    font-size: 180%;
}

.circle {
    padding-top: 10px;
}

.circle-container {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-style: solid;
    border-color:rgb(255, 152, 120);
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-pineapple {
    background: url('../images/pineapple200.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-banana {
    background: url('../images/banana3.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-passion-fruit {
    background: url('../images/passionfruit.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-dragon-fruit {
    background: url('../images/dragonfruit.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-kiwi {
    background: url('../images/kiwi.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Delicious Fruits page */

.gallery-images {
    padding-top: 25px;
    margin-top: 25px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    border-top: 2px solid rgb(255, 152, 120);
    margin-right: 9px;
}

/* Contact us page */

.tell-us-more h2 {
    font-size: 180%;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(255, 152, 120);
}

.tell-us-more {
    margin-top: 25px;
    border-top: 2px solid rgb(255, 152, 120);
}

/* Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(255, 152, 120);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(255, 152, 120);
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: whitesmoke;
    color: rgb(255, 152, 120);
}

.contact-form {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

label {
    color: rgb(255, 152, 120);
}

#contact-form-box {
    border: 2px solid rgb(255, 152, 120);
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    padding: 12px;
    margin-left: 25%;
    margin-bottom: 25px;
}

#favourite-fruit {
    color: rgba(0, 0, 0, 0.562);
}

/* Media queries */

@media (min-width: 1281px) {
    body {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    h1 {
        text-align: center;
        padding-top: 200px;
        padding-left: 20px;
    }

    #list h3 {
        text-align: center;
        margin-top: 30px;
    }

    #menu {
        font-size: 30px;
    }

    img {
        max-width: 100%;
        padding-left: 5px;
    }

    #contact-form-box {
        width: 95%;
        margin-left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 100%;
    }
    
    h1 {
        text-align: center;
        padding-top: 200px;
        padding-left: 25px;
    }

    #list h3 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        max-width: 100%;
        padding-left: 10px;
    }

    #menu {
        font-size: 20px;
        display: grid;
        text-align: center;
    }
    
    .audio-file {
        padding-left: 32%;
        margin-top: 15px;
    }

    img {
        max-width: 100%;
        padding-left: 4px;
    }

    #contact-form-box {
        width: 95%;
        margin-left: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        text-align: center;
        padding-top: 30px;
        font-size: 450%;
    }

    #list h3 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        max-width: 100%;
        padding-left: 10px;
    }

    footer {
        height: 200px;
    }

    #menu {
        font-size: 20px;
        display: grid;
        text-align: center;
    }

    .audio-file {
        padding-left: 25%;
        margin-top: 15px;
    }

    .gallery-images {
        display: grid;
    }

    img {
        max-width: 100%;
        padding-left: 5px;
    }

    #contact-form-box {
        width: 95%;
        margin-left: 15px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: 235%;
        padding-top: 30px;
        padding-left: 25px;
    }
    #list h3 {
        text-align: center;
        margin-top: 30px;
        font-size: 110%;
    }

    footer {
        height: 220px;
    }

    #socials {
        font-size: 130%;
    }

    #menu {
        font-size: 15px;
        text-align: center;
        display: grid;
        margin-top: 10px;
    }

    .audio-file {
        padding-left: 3%;
        margin-top: 15px;
    }

    p {
        max-width: 100%;
        padding-left: 0px;
        font-size: 10px;
    }

    .gallery-images {
        display: grid;
    }

    img {
        max-width: 100%;
        padding-left: 4px;
        padding-right: 1px;
    }

    #contact-form-box {
        width: 95%;
        margin-left: 10px;
    }
}


    





