@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Changa+One&family=Lato:wght@300&display=swap');

body {
    font-family: 'Abril Fatface', cursive 'Changa One', 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color:whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#heading {
    background-image: url(../images/tropical-fruits2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
    margin-top: 0px;
    background-size: cover;
}

#heading a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 {
    font-size: 700%;
    text-align: right;
    letter-spacing: 12px;
    color: rgb(255, 152, 120);
    text-decoration: none;
    padding-top: 300px;
    padding-right: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 152, 120);
}

nav {
    font-size: 200%;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-top: 25px;
}

.active {
    border-bottom: 2px solid rgb(255, 152, 120);
}

#menu a:hover {
    border-bottom: 2px solid rgb(255, 152, 120);
}

footer {
    background-color: rgb(255, 152, 120);
    margin-top: 10%;
    height: 150px;
    margin-top: auto;
}

#socials {
    text-align: center;
    color: whitesmoke;
    font-size: 180%;
    letter-spacing: 12px;
    text-transform: uppercase;
}

footer > a {
    font-size: 110%;
    color: whitesmoke;
    letter-spacing: 12px;
}

.links {
    font-size: 15px;
    margin-top: 5px;
}

#socials a {
    text-decoration: none;
    color: whitesmoke;
}

#socials a:hover {
    border-bottom: 2px solid whitesmoke;
}

/* List of tropical fruits */

#list {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(255, 152, 120);
    border-bottom: 2px solid rgb(255, 152, 120);
}

#list > div {
    border-top: 2px solid rgb(255, 152, 120);
}

p {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    max-width: 50%;
    padding-left: 25%;
    margin-top: 25px;
}

h3 {
    margin-top: 10px;
    font-size: 180%;
}

.circle {
    padding-top: 10px;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-style: solid;
    border-color:rgb(255, 152, 120);
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-pineapple {
    background: url('../images/pineapple200.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-banana {
    background: url('../images/banana3.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-passion-fruit {
    background: url('../images/passionfruit.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-dragon-fruit {
    background: url('../images/dragonfruit.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-kiwi {
    background: url('../images/kiwi.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Delicious Fruits page */

#gallery-images {
    border-top: 2px solid rgb(255, 152, 120);
    padding-top: 25px;
    margin-top: 25px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}




