@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Changa+One&family=Lato:wght@300&display=swap');

body {
    font-family: 'Abril Fatface', cursive 'Changa One', 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color:whitesmoke;
}

#heading {
    background-image: url(../images/tropical-fruits2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
    margin-top: 0px;
    background-size: cover;
}

#heading a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 {
    font-size: 500%;
    text-align: right;
    letter-spacing: 20px;
    color: rgb(255, 152, 120);
    text-decoration: none;
    padding-top: 350px;
    padding-right: 30px;
    margin-top: 0;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 152, 120);
}

nav {
    font-size: 200%;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.active {
    border-bottom: 2px solid rgb(255, 152, 120);
}

#menu a:hover {
    border-bottom: 2px solid rgb(255, 152, 120);
}

footer {
    background-color: rgb(255, 152, 120);
    margin-top: 100%;
    height: 150px;
}

#socials {
    text-align: center;
    color: whitesmoke;
    font-size: 180%;
    letter-spacing: 20px;
    text-transform: uppercase;
}

footer > a {
    font-size: 110%;
    color: whitesmoke;
    letter-spacing: 20px;
}

.links {
    font-size: 15px;
    margin-top: 5px;
}

#socials a {
    text-decoration: none;
    color: whitesmoke;
}

#socials a:hover {
    border-bottom: 2px solid whitesmoke;
}


